<div class="cont">
    <div class="Form-cont">
        <h1>Add New Contact</h1>
    
       
    <form action="/valData/addContact" method="POST">
        <label for="cfn"> First Name:
            <input type="text" name="cfn" required>
            </label>
            <label for="cln"> Last Name:
                <input type="text" name="cln" required>
                </label>  
        <label for="cemail"> Email:
        <input type="email" name="cemail" required>
        </label>
        <label for="cnumber"> Contact Number:
            <input type="text" name="cnumber" required>
            </label>
            <input type="submit" name="sendc" value="Add">
            
    </form>
   
    </div>
    </div>