<div class="cont">
    <div class="Form-cont">
        <h1>Forgot</h1>
    
         <p>Enter the email address that you're sign up and click 'Send'</p>    
         <form action="/valData/updatepass" method="POST">
        <label for="email"> Email:   
        <input type="email" name="email" required>
        </label>
        <label for="fname"> Confirm your fisrt name :   
            <input type="text" name="fname" required>
            </label>
        <label for="npass"> Enter the new password:   
            <input type="password" name="npass" required>
            </label>
        <input type="submit" name="sendm" value="Send">
    </form>
    </div>
    </div>