<div class="cont">
    <div class="Form-cont">
        <h1>Sign up</h1>
    
       
    <form action="/valData/Signup" method="POST">
        <label for="usrn"> Name:
            <input type="text" name="usrn" required>
            </label>
            <label for="usrn"> Last Name:
                <input type="text" name="usrln" required>
                </label>  
        <label for="nemail"> Email:
        <input type="email" name="nemail" required>
        </label>
        <label for="passw"> Password:
            <input type="password" name="npassw" required>
            </label>
            <input type="submit" name="sendr" value="Sign up">
           
    </form>
   
    </div>
    </div>